/* Map Container Styling */
.map-layout-dashboard .dashboard-map {
  width: 100%;
  height: 100vh;
  border-radius: 1rem;
  margin: auto;
}

/* Search Bar Styling */
.map-layout-dashboard .search-bar {
  position: absolute;
  top: 15px;
  left: 12%;
  transform: translateX(-50%);
  z-index: 1000;
  padding: 1px 50px;
  border-radius: 4px;
}

.map-layout-dashboard .search-bar input {
  border: none;
  outline: none;
  width: 230px;
  background-color: #5a7c6bb2;
  border-radius: 4px;
  padding: 7px;
  color: #fff;
}

.map-layout-dashboard .search-bar input::placeholder {
  color: #fff;
  opacity: 1;
}

/* Map Controls */
.map-layout-dashboard .map-controls {
  position: absolute;
  top: 60px;
  left: 50px;
  z-index: 1000;
}

.map-layout-dashboard .delete-markers-btn {
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.map-layout-dashboard .current-location-btn {
  position: absolute;
  top: 200px;
  left: -36px;
  z-index: 1000;
  background-color: #5a7c6ba6;
  border: none;
  border-radius: 4px;
  padding: 5px 4 px;
  color: #fff;
  cursor: pointer;
}

/* Zoom Control Customization */
.map-layout-dashboard .leaflet-left .leaflet-control-zoom {
  position: absolute;
  top: 28vh;
  left: 2px;
  z-index: 1000;
  background-color: #5a7c6ba6;
  border-radius: 4px;
  padding: 2px;
}

.map-layout-dashboard .leaflet-control-zoom-in,
.map-layout-dashboard .leaflet-control-zoom-out {
  color: #fff !important;
  background-color: transparent !important;
  border: none;
}

/* selcted field dropdown  */
#field-dropdown {
  background-color: #5a7c6ba6 !important;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 5px 10px;
  position: absolute;
  left: 62vw;
  top: -8vh;
}

#field-dropdown option:checked {
  background-color: #5a7c6ba6 !important;
  color: white;
}

#field-dropdown:hover {
  background-color: #5a7c6ba6 !important;
}

#field-dropdown option {
  background-color: #5a7c6ba6;
}
