.operation-sidebar {
  width: 30vw;
  height: 100vh;
  margin: 0;
  padding: 0; /* 🔁 CHANGED from 10px to 0 */
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.operation-heading {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #344e41;
  gap: 10px;
}

.operation-firt-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  cursor: pointer;
}

.search-bar-container {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.search-icon {
  position: absolute;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  margin-left: 2rem;
  color: #fff;
}

.search-input {
  width: 80%;
  padding: 5px 5px 5px 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  box-sizing: border-box;
  background-color: #344e41;
  margin-bottom: 1rem;
  margin-left: 1.4rem;
}

.search-input:focus {
  border-color: #344e41;
}

.operation-info.selected-operation {
  background-color: #5a7c6b;
}

.selected-title {
  color: #fff;
}

.operation-heading h2 {
  font-size: 1rem;
  font-weight: 700;
  color: #344e41;
}

.operation-field h2 {
  font-size: 1rem;
  font-weight: 500;
  color: #344e41;
  padding-left: 1rem;
  padding-top: 0.5rem;
}

.operation-field .operation-info {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #344e41;
  padding-top: 1rem;
  cursor: pointer;
}

.operation-field .operation-info h4 {
  color: #344e41;
  font-size: 1rem;
  font-weight: 400;
}

.operation-sidebar .operation-info .operation-details {
  display: flex;
  gap: 10px;
  font-size: 0.7rem;
  color: #a2a2a2;
}

.operation-sidebar .operation-info .ha {
  margin: 0;
  padding: 0;
  font-size: 0.7rem;
  color: #a2a2a2;
  margin-bottom: 0.2rem;
}

.operation-sidebar .operation-info .operation-details p {
  margin-right: 1rem;
}

.operation-field {
  margin-top: 20px;
}

.operation-field-scrollable {
  max-height: calc(100vh - 150px);
  overflow-y: auto;
  padding-right: 10px;
}

.operation-field-scrollable::-webkit-scrollbar {
  width: 8px;
  display: none;
}

.operation-field-scrollable::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.operation-field-scrollable::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.operation-field-scrollable::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.operations {
  margin-left: 10px;
}

.operation-container {
  display: flex;
  height: 100vh;
  width: 100%;
}
