.container {
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}

.nutrient-container {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.npk-icon {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #075a53;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-bottom: -15px;
}

.icon-text {
  color: #fff;
  font-weight: bold;
  font-size: 10px;
}

.info-container {
  flex: 1;
}

.label {
  font-weight: 600;
  font-size: 1.1rem;
  color: #000;
  margin-bottom: 5px;
  display: block;
}

.bar-wrapper {
  background-color: #eee;
  height: 6px;
  border-radius: 4px;
  margin-bottom: 6px;
  overflow: hidden;
}

.bar {
  height: 6px;
  border-radius: 4px;
}

.values-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1.4rem;
  padding-left: 1rem;
}

.current-text {
  font-weight: bold;
  font-size: 0.7rem;
  color: #1c1c1c;
}

.required-text {
  font-size: 0.7rem;
  font-weight: 500;
  color: #777;
}

.message-container {
  background-color: #fff3e0;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  border: 1px solid #ffca28;
}

.message-text {
  font-size: 14px;
  font-weight: 600;
  color: #d84315;
  text-align: center;
  display: block;
}
