.soil-health-chart-container {
  width: 100%;
  max-width: 600px;
  margin: auto;
  box-sizing: border-box;
}

.soil-health-chart-title {
  text-align: left;
  color: #344e41;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 10px;
}
