@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Custom styles for Toastify */
.Toastify__toast {
  font-size: 0.9rem;
}

.Toastify__toast-body {
  font-size: 0.9rem;
}

/* Scrollbar hiding */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Position toaster at top-right */
.ant-message {
  position: fixed !important;
  top: 10px !important;
  right: 10px !important;
  left: auto !important;
  width: auto !important;
  z-index: 9999 !important;
  pointer-events: none;
}

/* Space between multiple toasts */
.ant-message-notice {
  margin-top: 12px !important;
}

/* Outer box of each toast */
.ant-message-notice-content {
  background: #ffffff !important;
  color: #344e41 !important;
  padding: 15px 25x !important;
  border-radius: 10px !important;
  min-width: 200px important;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2) !important;
  font-weight: 500 !important;
  pointer-events: all !important;
}

/* Inner content text + icon */
.ant-message-custom-content {
  display: flex !important;
  align-items: center !important;
  gap: 4px !important;
  font-size: 14px !important;
  font-weight: 600 !important;
}

.ant-message-custom-content span {
  font-size: 14px !important;
  line-height: 1.4 !important;
}

/* Icon inside the toast */
.ant-message-custom-content span svg {
  width: 20px !important;
  height: 20px !important;
}

/* Success message color */
.ant-message-success .ant-message-notice-content {
  border-left: 5px solid #52c41a !important;
}

/* Error message color */
.ant-message-error .ant-message-notice-content {
  border-left: 5px solid #ff4d4f !important;
}

/* Warning message color */
.ant-message-warning .ant-message-notice-content {
  border-left: 5px solid #faad14 !important;
}

.ant-modal-centered .ant-modal {
  top: 50% !important;
  transform: translateY(-50%) !important;
  margin: 0;
}

.perspective {
  perspective: 1000px;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

/* Tailwind-compatible custom CSS */
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* makes it white */
  cursor: pointer;
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}