.rbc-toolbar {
  margin: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.rbc-toolbar-label {
  margin-left: -200px;
  font-weight: 700;
}

.rbc-event {
  background-color: #fff;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 800;
}

.Custom-Calendar {
  background-color: #5f7e6f;
  color: #fff;
}

.rbc-toolbar button {
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 4px;
}

.rbc-btn-group button + button {
  margin-left: 5px !important;
}

.rbc-time-header .rbc-header span {
  font-weight: bold !important;
}

.rbc-time-slot {
  min-height: 80px;
  line-height: 40px;
  font-weight: bold;
}

.rbc-today {
  background-color: #7fb29a;
}
